* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

div.sidebar {
    position: absolute;
    background: white;
    top: 10pt;
    left: 10pt;
    width: 400pt;
    height: auto;
    padding: 10pt;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

div.popup {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);

    > div {
        margin: 5pt;
        width: calc(100% - 10pt);
        height: calc(100% - 10pt);
    }
}

div#open-info-card {
    position: absolute;
    background: white;
    top: 10pt;
    right: 10pt;
    width: auto;
    height: auto;
    padding: 10pt;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12pt;
        height: 12pt;
        border: 2px solid black;
        border-radius: 12pt;
        padding: 3pt;
        font-weight: bold;
    }

    &:hover {
        background: lightgray;
        color: white;
        cursor: pointer;

        > span {
            border-color: white;
        }
    }
}

div#lang-select {
    position: absolute;
    background: white;
    top: 60pt;
    right: 10pt;
    width: auto;
    height: auto;
    padding: 0;
    gap: 0;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    > button {
        background: none;
        border: none;
        padding: 4pt;
        font-size: 16pt;

        &:hover {
            background: lightgray;
            color: white;
            cursor: pointer;
        }
    }

    > button.selected {
        font-weight: bolder;
    }
}

div#info-card {
    position: absolute;
    background: white;
    top: 10pt;
    right: 10pt;
    width: 400pt;
    height: auto;
    padding: 10pt;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    gap: 8pt;

    > p {
        text-align: justify;
    }

    div.image-info > p {
        font-size: 8pt;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

img.logo-image {
    margin-left: 10pt;
    margin-right: 10pt;
    width: 34pt;
}

img.sidebar {
    width: 240pt;
}

img.popup {
    width: 380px;
    height: 244px;
    object-fit: scale-down;
}

[hidden] {
    display: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5pt;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5pt;
}

span.pad-left {
    padding-left: 4pt;
}

div#map {
    height: 100vh;
}

.grow {
    flex-grow: 1;
}

.ol-zoom {
    top: 10pt;
    left: 440pt;
}

.ol-control {
    background: none;
    border-radius: 2px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
